# Paquetes esenciales para caicat 2
# Instalar con: pip install -r requirements.txt
# o manualmente modulo por modulo

numpy==1.26.4
pandas==1.5.3
pillow==11.3.0
opencv-python==4.10.0.84
matplotlib==3.8.0
tqdm==4.65.0
openpyxl==3.0.10
pyyaml==6.0.2
requests==2.31.0
scipy==1.14.1
scikit-learn==1.7.2
ffmpy==0.6.4
ffmpeg-python==0.2.0
exifread==3.5.1
